<nav class="navbar navbar-expand-lg " style="background-color: #9ff1f1;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand ms-5 " routerLink="/home" >
        <img style="height: auto; width: auto; max-height: 72px; max-width: 250px;" [src]="myimage" alt="">
      </a>
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" id="cruises" aria-current="page" routerLink="/cruises" style="color: #051f2f;"><b>CRUISES</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="cruises" aria-current="page" routerLink="/holiday" style="color:  #051f2f;"><b>HOLIDAYS</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="cruises" aria-current="page" href="#" style="color:  #051f2f;"><b>MAGAZINE</b></a>
          
        </li>       
      </ul>
      <button type="button" class="btn btn-light me-5"><a routerLink="/" style="color:#051f2f;"><b>MY EXSEA</b></a></button>
    </div>
  </div>
</nav>