<!-- navbar -->
<app-navbar></app-navbar>

<!--card design  -->
<div class="col-md" *ngFor="let cruise of cruises" style="padding: 10px; margin-top: 10px;"><div><div class="row">
    <div class="col-md-3 col-sm-12">
        <img [src]="cruise.image" class="txtimage" style="width: 100%;">
    </div>
    <div class="col-md-6 col-sm-12">
        <div>
            <span style="color: #1967ac; font-weight: 600; font-style: normal;">{{cruise.title}}</span><br><span style="color: #555; font-style: normal; font-weight: 600;">{{cruise.capacity}}</span>
        </div>
        <div class="d-none d-md-block" style="height: 120px; overflow: hidden;">
            <span style="color: #555; font-weight: 400; font-style: normal; font-size: 14px; line-height: 1.2;">{{cruise.description}}.</span>
        </div>
    </div>
   
</div></div>
<hr>
</div>

