<!--navbar-->
<app-navbar></app-navbar>



<!--IMAGE CAROUSAL-->

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  style="height: 500px; width: 1700px;"  src="https://media.cntraveler.com/photos/626704edd4012873b417528e/16:9/w_2560%2Cc_limit/Viking%2520Octantis_C-VC_OCTANTIS_Antarctica_Ship_Fleet_10x8_300dpi.jpg" class="d-block w-100" alt="">
      <div class="carousel-caption d-none d-md-block">
        <h5>EXPIRIENCE CRUISING WITH EXSEA</h5>
        <p>From island hopping in the Caribbean to seeing bears in the Carpathian Mountains, find your perfect experience, with every itinerary designed by our expert Cruise Planners.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img   style="height: 500px; width: 1700px;"  src="https://www.gannett-cdn.com/presto/2021/05/19/USAT/b8a7a2cd-96e7-42ac-8e7c-3abb2a9b2f7b-QuarkExpeditions_Ultramarine_Hero_Sea_Trials_Feb_18_2021_3.jpg?width=2160" class="d-block w-100"alt="img2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Ocean cruises</h5>
        <p>Enjoy small-ship luxury aboard our sister ships, SPIRIT OF EXSEA and QUEEN EXSEA.

          Your very own balcony awaits on every all-inclusive cruise.
          
          .</p>
      </div>
    </div>
    <div class="carousel-item">
      <img  style="height: 500px; width: 1700px;" src="https://i.insider.com/62d58d63632b5300188acf27?width=1136&format=jpeg" class="d-block w-100" alt="img3">
      <div class="carousel-caption d-none d-md-block">
        <h5>THE ICONIC</h5>
        <p>Our latest all-balcony boutique ship launched in the summer of 2021. She’s the beautiful sister to QUEEN EXSEA, but has a whole host of surprises of her own, including exciting new restaurants..</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--cards-->
<div >
  <div style="background-color:#9ff1f1;">

   
    <div class="container" style="margin: 1cm; padding: 1cm; ">
      <div class="row">
      <h1 style="color: rgb(10, 28, 85);position: relative; left: 500px;"> <b>WHAT CAN WE HELP YOU WITH</b>  <i class="fa-solid fa-question"></i></h1>
        <div class="col-4" >
          <div class="card" style="width: 18rem; height: 365px; left: 70px; ">
            <img src="https://lassirentaboat.eu/wp-content/uploads/2022/04/DJI_0831-1-scaled-1000x667.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(10, 28, 85);"><b>HOLIDAY</b></h5>
              <p class="card-text"style="color: rgb(10, 28, 85); " >Specially designed adventure tour packages for you to experience the extreme adventure,click to know more.</p>
              <a routerLink="/holiday" class="btn btn-primary">BOOK NOW</a>
            </div>
          </div>
          
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem; left: 125px;">
            <img src="https://www.travelandleisure.com/thmb/PIrrNVmeeMvIhVqmFR2EWCrSug4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/rc-wonder-of-the-seas-sunset-aerial-LRGSTSHIP0422-8230b27121c3438b9984b9dc63877937.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(10, 28, 85);"><b>CRUISES</b></h5>
              <p class="card-text" style="color: rgb(10, 28, 85);"> Explore the seas with an essence of luxury on our brand new Queen Exsea, along with a delicious seafood buffet. </p>
              <a routerLink="/cruises" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem; left: 180px;">
            <img src="https://images.unsplash.com/photo-1440778303588-435521a205bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aG9saWRheXxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>MAGAZINES</b></h5>
              <p class="card-text">Complete guidance for you to explore the seas and  oceans to the fullest. Learn what others have explored.</p>
              <a href="#" class="btn btn-primary">BUY NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!--footer-->
<app-footer></app-footer>


